body {
    margin: 0;
    padding: 0;
}

.image--scaling {
    max-width: 100%;
    height: auto;
    display: block;
    align-self: center;
}

.navigation {
    display: grid;
    grid-template-columns: 8% 92%;
    border: 5px;
    height: 130px;
    background-color: #ffffff;
}

.navigation__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.button--sharp {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #626060;
    line-height: 44px;
    font-size: 30px;
    font-weight: bold;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}
.button--sharp:hover {
    background:#f0f0f0;
}

.footer {
    height: 1000px;
    background-color: #EDEDED;
}

.popular {
    display: flex;
    height: 1000px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: relative;
}

.button--left {
    position: absolute;
    left: 50px;
    height: 100px;
    width: 100px;
    z-index: 10;
    background: none;
    border: none;
    border-radius: 100%;
}
.button--left:hover {
    background:#f0f0f0;
}

.button--next {
    position: absolute;
    right: 50px;
    height: 100px;
    width: 100px;
    z-index: 10;
    background: none;
    border: none;
    border-radius: 100%;
}
.button--next:hover {
    background:#f0f0f0;
}

.popular__buttons {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 80%; /* теперь контейнер занимает 80% ширины родителя */
}

.popular__card {
    flex: 0 0 calc(33.333% - 13.33px); /* 3 карточки, учитывая gap */
    display: block;
    box-sizing: border-box;
    text-align: center;
    height: 300px; /* задаём высоту для наглядности */
}

.sales {
    height: 1000px;
}

.cars {
    height: 1000px;
}

.service {
    height: 1000px;
}

.consultation {
    height: 1000px;
}