body {
    margin: 0;
    padding: 0;
}

.button--left {
    position: absolute;
    left: 50px;
    height: 100px;
    width: 100px;
    z-index: 10;
    opacity: 0.2;
    background:#f0f0f0;
    border: none;
    border-radius: 100%;
}
.button--left:hover {
    opacity: 1;
}

.button--next {
    position: absolute;
    right: 50px;
    height: 100px;
    width: 100px;
    z-index: 10;
    background:#f0f0f0;
    opacity: 0.2;
    border: none;
    border-radius: 100%;
}
.button--next:hover {
    opacity: 1;
}

.text--title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    text-align: left;
    left: 5%;
    top: 70%;
    color: #ffffff;
    line-height: 80px;
    font-size: 70px;
    font-weight: lighter;
}

.image--scaling {
    width: 100%;
    height: auto;
}

.image--fullfill {
    width: 100%;
    height: 100%;
}

.navigation {
    padding: 0 10%;
    display: grid;
    grid-template-columns: 8% 92%;
    align-items: center;
    border: 5px;
    height: 90px;
    background-color: #ffffff;
}

.navigation__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.button--sharp {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #626060;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}
.button--sharp:hover {
    background:#f0f0f0;
}

.footer {
    height: 1000px;
    background-color: #EDEDED;
}

.popular {
    padding: 1% 5%;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: relative;
}

.popular__buttons {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.popular__card {
    flex: 0 0 30%;
    overflow: hidden;
    position: relative;
    flex-grow: 1;
    height: 100%;
}

.sales {
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: center;
}

.sales__cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.sales__card{
    flex: 0 0 100%;
    width: 100%;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

.cars {
    height: 1000px;
}

.service {
    height: 1000px;
}

.consultation {
    height: 1000px;
}