@import url('../../components/buttons.css');
@import url('../../components/footer.css');
@import url('../../components/images.css');
@import url('../../components/navigation/navigation.css');
@import url('../../components/titles.css');
@import url('../../components/input.css');
@import url("../../components/auth/auth.css");

body {
    padding: 0;
    margin: 0;
}

.configurator {
    padding: 2% 10%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.configurator__preview {
    height: 70%;
    width: 100%;
    z-index: -1;
}

.configurator__colors {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;
}

.color-pick {
    border-radius: 100%;
    background-image: linear-gradient(135deg, #fd4141 0%, #ba1515 100%);
    box-shadow: 0px 0px 5px 1px #565656;
    height: 90%;
    aspect-ratio: 1/1;
    opacity: 0.8;
}

.color-pick:hover {
    opacity: 1;
}

.configurator__options {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.selection-panel  {
    height: 100%;
    background-color: #EDEDED;
    width: 30%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    padding: 15px;
}