@import url('../../components/buttons.css');
@import url('../../components/footer.css');
@import url('../../components/images.css');
@import url('../../components/input.css');
@import url('../../components/navigation/navigation.css');
@import url('../../components/titles.css');

body {
    margin: 0;
    padding: 0;
    background-color: #fefefe;
}

.popular {
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.popular__actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 50%;
    height: 20%;
}

@media (max-width: 768px) {
    .popular__actions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        align-items: center;
        overflow: hidden;
        width: 50%;
        height: 20%;
    }
}

.popular__track {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 200%;
}

.popular__card {
    flex-basis: calc(20%);
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    transition: flex-basis 0.4s ease-in-out;
}

.popular__card.active {
    flex-basis: 35%;
}

@media (max-width: 768px) {
    .popular__card {
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    }   
    .popular__card.active {
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    }   
}

.sales {
    display: flex;
    position: relative;
    align-items: center;
    overflow: hidden;
}

.sales__cards{
    width: 300%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sales__card{
    flex: 0 0 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.cars {
    height: 1000px;
}

.service {
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 3%;
    padding-top: 3%;
    gap:20px;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.service__info {
    display: flex;
    flex-direction: column;
    gap:20px;
    min-width: 0;
}

.consultation {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 5%;
    padding-bottom:5%;
    padding-left: 15%;
    padding-right: 15%;
    gap:5%;
}

.consultation__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}