@import url('../../components/buttons.css');
@import url('../../components/input.css');
@import url('../../components/titles.css');

.auth {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: rgba(50, 50, 50, 0.5);
    align-items: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.auth__auth {
    padding: 0% 5%;
    position: absolute;
    width: 30vw;
    height: 40vh;
    background-color: white;

    align-items: center;

    gap: 2%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 15px;
}

.auth__auth.inactive {
    visibility: hidden;
}

.auth__register {
    padding: 0% 5%;
    visibility: hidden;
    position: absolute;
    width: 30vw;
    height: 80vh;
    background-color: white;

    align-items: center;

    gap: 2%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 15px;
}

.auth__register.active {
    visibility: visible;
}